@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(500px); }
  80% {
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  width: 100vw; }

.nav-colored {
  background-color: rgba(0, 0, 0, 0.85); }

nav {
  display: grid;
  grid-auto-rows: minmax(min-content, 100px) min-content; }

.main-nav {
  z-index: 10;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr); }
  .main-nav__logo-container {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s; }
  .main-nav__heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    margin-left: 8px;
    letter-spacing: 3px; }
  .main-nav__nav-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 90px);
    margin-left: auto;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: .5rem;
    margin-right: 1rem; }
  .main-nav__nav-item:hover, .main-nav__nav-item:active {
    color: #d1324f;
    transform: translateY(-3px); }
  .main-nav__menu {
    display: none;
    color: #fff;
    font-size: 1.5rem; }
  .main-nav__menu:hover {
    cursor: pointer;
    user-select: none;
    filter: opacity(50%); }

.nav-dropdown {
  display: grid;
  background-color: black;
  text-align: center;
  display: none;
  z-index: 10; }
  .nav-dropdown__nav-item {
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-bottom: 1px solid #fff; }
  .nav-dropdown__nav-item:hover {
    background-color: #fff;
    color: #3161a3;
    transform: translateY(-3px); }

.main-section {
  background-image: linear-gradient(to right bottom, rgba(109, 170, 255, 0.7), rgba(49, 97, 163, 0.9)), url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-color: #3161a3; }
  .main-section-heading {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 45%;
    margin: 0 auto;
    transform: translate(-50%, -50%); }
    .main-section-heading h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #fff;
      margin: 0 auto;
      letter-spacing: 2px;
      animation-name: moveInLeft;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      text-align: center; }
    .main-section-heading h2 {
      font-size: 1.5rem;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: .15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }
    .main-section-heading i {
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.9);
      margin-top: 1rem;
      animation: fadeIn ease 5s;
      -webkit-animation: fadeIn ease 5s;
      -moz-animation: fadeIn ease 5s;
      -o-animation: fadeIn ease 5s;
      -ms-animation: fadeIn ease 5s; }

.about {
  height: 30rem; }

.intro {
  padding: 0 1rem 0 1rem; }
  .intro__text {
    font-size: 1.3rem;
    text-indent: 2rem; }
    .intro__text a {
      list-style: none;
      color: #d1324f;
      text-decoration: none; }
    .intro__text--container {
      transform: translateY(1rem); }
    .intro__text--heading {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;
      font-size: 1.6rem; }
      .intro__text--heading::before, .intro__text--heading::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
    .intro__text--skills {
      z-index: 11;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(5, 1fr); }
      .intro__text--skills img {
        width: 50%; }

.section-headings-about {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #3161a3;
  font-weight: 700;
  margin-top: 2rem;
  padding-bottom: 2rem; }
  .section-headings-about::after {
    content: '';
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 300px; }

.section-headings-portfolio {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #3161a3;
  font-weight: 700;
  margin-top: 4rem;
  padding-top: 10px;
  padding-bottom: 3rem; }
  .section-headings-portfolio::after {
    content: '';
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 300px; }

.portfolio {
  background-color: #f4f4f4;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 4rem; }
  .portfolio__card {
    position: relative;
    width: 80%;
    left: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 10px 20px;
    margin: 15px 0px 50px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6); }
    .portfolio__card img {
      width: 100%; }
    .portfolio__card--info h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center; }
    .portfolio__card--info h3:after {
      display: block;
      height: 3px;
      background-color: #3161a3;
      content: ' ';
      width: 200px;
      margin: 0 auto; }
    .portfolio__card--info p {
      font-size: 1.2rem;
      margin-top: 5px; }
    .portfolio__card--info .card-about {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 175px; }
      .portfolio__card--info .card-about li a {
        color: blue; }
      .portfolio__card--info .card-about__features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem; }
      .portfolio__card--info .card-about__tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .5rem; }
      .portfolio__card--info .card-about h5 {
        font-size: 1rem;
        text-align: center; }
      .portfolio__card--info .card-about ul {
        list-style: circle; }
    .portfolio__card--info .btns {
      display: flex;
      justify-content: center;
      align-items: center; }
    .portfolio__card--info .card-btn {
      text-decoration: none;
      background-color: #000;
      color: #fff;
      padding: 10px 15px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px; }
    .portfolio__card--info .card-btn a, .portfolio__card--info a:visited {
      text-decoration: none;
      background-color: #000;
      color: #fff; }
    .portfolio__card--info .web-tech-github {
      color: #000;
      font-size: 55px;
      margin: 10px; }
  .portfolio .portfolio__card:nth-child(odd) img {
    order: 2; }

.contact {
  background: linear-gradient(to right bottom, rgba(109, 170, 255, 0.3), rgba(49, 97, 163, 0.99));
  height: 50vh;
  padding-top: 100px;
  position: relative; }

.section-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.contact-section-heading {
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase; }

.btn-contact,
.btn-contact:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
  margin-top: 2rem; }

.social-icons-list {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem; }

.social-icons-list li {
  list-style: none;
  padding: 0 1rem; }

.social-icons-list a {
  color: #fff;
  font-size: 3rem; }

.footer {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 3rem;
  background-color: #d1324f;
  color: #fff;
  letter-spacing: 2px; }

@media only screen and (max-width: 1390px) {
  .main-section-heading {
    width: 100%; }
  .main-section h2 {
    font-size: 1rem; }
  .main-section h3 {
    font-size: 2rem; }
  .main-section-btn {
    left: 43%; } }

@media only screen and (max-width: 995px) {
  .about-social-icons-list a {
    font-size: 40px; }
  .portfolio__card__info h3 {
    font-size: 30px; }
  .portfolio__card__info p {
    font-size: 15px; }
  .portfolio__card .web-tech {
    font-size: 12px; } }

@media only screen and (max-width: 890px) {
  .main-nav__nav-item {
    display: none; }
  .main-nav__menu {
    display: initial;
    display: grid;
    justify-self: end;
    margin-right: 2rem; }
  .main-section-heading {
    width: 100%; }
  .main-section h2 {
    font-size: .8rem; }
  .main-section h3 {
    font-size: 1.5rem; }
  .main-section-btn {
    left: 40%; }
  .portfolio__card {
    display: block; }
    .portfolio__card p {
      font-size: 1rem; }
    .portfolio__card--info h3 {
      font-size: 1.5rem;
      padding-top: 20px; }
  .btn-contact {
    padding: 5px 10px;
    margin: 25px;
    size: 15px; }
  .btn-contact i {
    padding: 1rem; } }

@media only screen and (max-width: 730px) {
  .about {
    height: 450px; }
  .main-section {
    background: linear-gradient(to right bottom, rgba(109, 170, 255, 0.7), rgba(49, 97, 163, 0.9)); }
    .main-section-btn {
      left: 30%; }
  .section-headings-about {
    padding-bottom: 2px;
    margin-top: 2rem; }
  .portfolio {
    padding-left: 25px; }
  .card-about {
    display: flex;
    flex-direction: column-reverse; }
    .card-about ul li {
      font-size: 13px; }
  .contact-section-heading {
    font-size: 2rem; }
  .btn-contact {
    font-size: 18px; }
  .btn-contact i {
    padding: 2px; } }

@media only screen and (max-width: 500px) {
  .main-section-btn {
    left: 28%; }
  .section-headings-about {
    padding-bottom: 2px;
    margin-top: 2rem; }
  .section-headings-portfolio {
    margin-top: 2rem;
    padding-bottom: 5px; }
  .intro {
    padding-top: 1rem; }
  .about {
    height: 500px; }
  .contact-section-heading {
    font-size: 2rem; }
  .social-icons-list {
    margin-top: 3px; }
  .footer-paragraphy {
    font-size: 1.5rem; } }

.py-1 {
  padding: 1rem 0 1rem 0; }

.py-2 {
  padding: 2rem 0 2rem 0; }

.py-3 {
  padding: 3rem 0 3rem 0; }

.px-1 {
  padding: 0 1rem 0 1rem; }

.px-2 {
  padding: 0 2rem 0 2rem; }

.px-3 {
  padding: 0 3rem 0 3rem; }

.my-1 {
  margin: 1rem 0 1rem 0; }

.my-2 {
  margin: 2rem 0 2rem 0; }

.my-3 {
  margin: 3rem 0 3rem 0; }

.mx-1 {
  margin: 0 1rem 0 1rem; }

.mx-2 {
  margin: 0 2rem 0 2rem; }

.mx-3 {
  margin: 0 3rem 0 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }
