@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(500px); }
  80% {
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

header {
  background: black;
  position: fixed;
  z-index: 3;
  width: 100vw;
  left: 0;
  top: 0; }

.main-nav {
  float: right;
  margin-right: 10rem;
  color: #fff; }

.main-nav li {
  display: inline-block;
  padding: 10px 25px 0 25px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff; }

.main-nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .5px; }

.splash {
  background-image: linear-gradient(to right bottom, rgba(109, 170, 255, 0.7), rgba(49, 97, 163, 0.9)), url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  position: relative; }
  .splash__heading {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%); }
  .splash .heading-primary {
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .splash .heading-secondary {
    padding-top: 15px;
    font-size: 35px;
    color: white;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }

.about {
  height: 95vh;
  margin-top: -25vh;
  margin-bottom: 100px;
  background-color: #f1f1f1;
  padding-top: 100px; }

.intro {
  margin: 20px 0px;
  height: auto;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; }
  .intro__img {
    padding-left: 25px;
    margin-top: -20px; }
    .intro__img img {
      width: 75%;
      max-width: 400px;
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
      border-radius: 5%; }
  .intro__text {
    font-size: 25px;
    text-indent: 40px;
    padding-right: 25px; }
    .intro__text a {
      list-style: none;
      color: #d1324f;
      text-decoration: none; }

.about-social-icons-list {
  margin-top: 30px; }
  .about-social-icons-list ul {
    text-decoration: none;
    text-align: center;
    list-style: none; }
  .about-social-icons-list li {
    display: inline-block; }
  .about-social-icons-list a {
    text-decoration: none;
    color: #000;
    font-size: 60px; }

.section-headings-about {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #3161a3;
  font-weight: 700;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 20px; }

.section-headings-portfolio {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #3161a3;
  font-weight: 700;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 43px; }

.portfolio {
  background-color: #fff;
  position: absolute;
  height: auto; }
  .portfolio__card {
    position: relative;
    width: 90%;
    left: 5%;
    margin: 50px 0px;
    display: grid;
    padding: 60px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15 px;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9); }
    .portfolio__card img {
      width: 90%; }
    .portfolio__card--info h3 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      padding-bottom: 10px; }
    .portfolio__card--info h3:after {
      display: block;
      height: 3px;
      background-color: #3161a3;
      content: ' ';
      width: 200px;
      margin: 0 auto;
      margin-top: 10px; }
    .portfolio__card--info p {
      text-indent: 25px;
      font-size: 20px; }
    .portfolio__card--info .web-tech {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700; }
      .portfolio__card--info .web-tech h4 {
        padding: 0px 10px; }
    .portfolio__card--info .btns {
      display: flex;
      justify-content: center;
      align-items: center; }
    .portfolio__card--info .card-btn {
      text-decoration: none;
      background-color: #000;
      color: #3161a3;
      padding: 10px 15px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px; }
    .portfolio__card--info .card-btn a, .portfolio__card--info a:visited {
      text-decoration: none;
      background-color: #000;
      color: #3161a3; }
    .portfolio__card--info .web-tech-github {
      color: #000;
      font-size: 55px;
      margin: 10px; }
  .portfolio .portfolio__card:nth-child(odd) img {
    order: 2; }

.contact {
  margin-top: 2000px;
  background: linear-gradient(to right bottom, rgba(109, 170, 255, 0.3), rgba(49, 97, 163, 0.99));
  height: 50vh;
  padding-top: 100px;
  margin-right: -30px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }

.section-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
  height: 80%; }

.contact-section-heading {
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase; }

.btn-contact,
.btn-contact:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
  margin-top: 3rem; }

.btn-contact i {
  padding: 1rem; }

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #ccc; }

label {
  float: left;
  color: #fff;
  font-weight: 700;
  padding: 5px; }

button {
  margin: 15px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  color: #3161a3;
  letter-spacing: 3px;
  font-weight: 700; }

.form-messages {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  border: 2px solid #fff; }

.error {
  background-color: #d1324f; }

textarea {
  height: 100px; }

*:focus {
  outline: none; }

.footer {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 3rem;
  background-color: #d1324f;
  color: #fff;
  letter-spacing: 2px;
  margin-right: -50px; }

@media only screen and (max-width: 995px) {
  .about-social-icons-list a {
    font-size: 40px; }
  .portfolio__card__info h3 {
    font-size: 30px; }
  .portfolio__card__info p {
    font-size: 15px; }
  .portfolio__card .web-tech {
    font-size: 12px; }
  .contact {
    margin-top: 2200px; } }

@media only screen and (max-width: 890px) {
  .splash .heading-primary {
    font-size: 40px; }
  .splash .heading-secondary {
    font-size: 25px; }
  .about {
    height: 90vh;
    padding-left: 25px; }
  .intro {
    display: block; }
    .intro__img {
      display: none; }
    .intro__text {
      font-size: 20px; }
  .about-social-icons-list a {
    font-size: 50px; }
  .portfolio__card {
    display: block; }
    .portfolio__card--info h3 {
      padding-top: 20px; }
  .contact {
    margin-top: 2700px; }
  .btn-contact {
    padding: 5px 10px;
    margin: 25px;
    size: 15px; }
  .btn-contact i {
    padding: 1rem; } }

@media only screen and (max-width: 730px) {
  .main-nav {
    margin-right: 10px; }
    .main-nav li {
      font-size: 15px;
      padding: 15px 15px; }
  .splash__heading {
    left: 50%; }
  .splash .heading-primary {
    font-size: 30px; }
  .splash .heading-secondary {
    font-size: 18px; }
  .about {
    padding-left: 25px; }
  .portfolio {
    padding-left: 25px; }
  .contact {
    height: 70vh; } }

@media only screen and (max-width: 500px) {
  .about-social-icons-list a {
    font-size: 25px; }
  .about {
    background-color: #fff; }
  .main-nav li {
    font-size: 15px;
    padding: 10px 15px; }
  .splash {
    background-image: linear-gradient(to right bottom, rgba(109, 170, 255, 0.7), rgba(49, 97, 163, 0.9));
    height: 65vh; }
    .splash .heading-primary {
      font-size: 30px; }
    .splash .heading-secondary {
      font-size: 18px; }
  .contact {
    margin-top: 2775px;
    height: 60vh; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto; }

.container {
  margin-right: -45px; }

header {
  margin-right: -45px; }
