.about{
  height: 30rem;
 
}
.intro {
  padding: 0 1rem 0 1rem;
  // margin: 1rem;
  
  &__text {
    font-size: 1.3rem;
    text-indent: 2rem;
    
    a {
      list-style: none;
      color: $secondary-color;
      text-decoration: none;
    }

    &--container {
      transform: translateY(1rem);
    }

    &--heading {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;
      font-size: 1.6rem;

      &::before,
      &::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
      }

    }

    &--skills {
      z-index: 11;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);

      img {
        width: 50%;
      }
    }


  }


}