$primary-color: #3161a3;
$secondary_color: #d1324f;
$color-white: #fff;



@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}



@function set-text-color($color) {
  @if (lightness($color) > 40% ){
    @return #000;
  }@else{
    @return #fff;
  }
}
  
