.section-headings-about{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: $primary-color;
  font-weight: 700;
  margin-top: 2rem;
  padding-bottom: 2rem;
  
    &::after{
      content: '';
      border: 1px solid black;
      display: block;
      margin: 0 auto;
      width: 300px;  
    }
}  
.section-headings-portfolio{  
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: $primary-color;
  font-weight: 700;
  margin-top: 4rem;
  padding-top: 10px;
  padding-bottom:3rem;
      &::after{
      content: '';
      border: 1px solid black;
      display: block;
      margin: 0 auto;
      width: 300px;
    }
  }  
  

