header{
 background-color: black;
 opacity: .9;

}

.menu-nav{
  display: flex;
  
  &__item{
   padding: 0px 10px;
    font-size: 25px;
    text-decoration: none;
    a{
       
        color: #fff;
      }
  }
}