header {
  background: black;
  position: fixed;
  z-index: 3;
  width: 100vw;
  left: 0;
  top: 0;
}

.main-nav{
  float: right;
  margin-right: 10rem;  
  color: #fff;
  
}
.main-nav li{
  display: inline-block;
  padding: 10px 25px 0 25px;
  font-size: 20px;
  text-decoration: none;
  font-family:  "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.main-nav li a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .5px;
}