nav{
  display: grid;
  grid-auto-rows: minmax(min-content, 100px) min-content;
}
.main-nav{
  background-color: rgba(0,0,0, .87);
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);

  &__heading{
    font-size: 1.8rem;
    color: #f4f4f4;


    &--2{
      text-transform: uppercase;
      color: $primary_color;
      letter-spacing: .3rem;
      font-style: italic;
    }
  }
  &__nav-item{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 90px);
    margin-left: auto;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: .5rem;
    margin-right: 1rem;
  }
  &__nav-item:hover,
  &__nav-item:active{
    color: $secondary-color;
    transform: translateY(-3px)
  }
 
  &__menu{
    display: none;
    color: #fff;
    font-size: 1.5rem;
    
  }
  &__menu:hover{
    cursor: pointer;
    user-select: none;
    filter: opacity(50%)
  }
}

.nav-dropdown{
  display: grid;
  background-color: rgba(0,0,0, .87);
  text-align: center;
  display: none;
 
  &__nav-item{
  color: #fff;
  text-decoration: none;
  padding: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  
  }
  
  &__nav-item:hover{
    background-color: #fff;
    color: $primary_color;
    transform: translateY(-3px);
  }
}
  
      
