.portfolio{
background-color: #f1f1f1;



  &__card{
    margin: 20px 0px;
 
  display: grid;
  padding: 40px 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: #fff;
  


    img{
      width: 100%;
      
     
      
    }
    &--info{
      
      h3{
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
      }
      h3:after{
        display:block;
  height: 3px;
  background-color: $primary-color;
  content: ' ';
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
      }
      p{
      font-size: 20px;
      }
      .web-tech{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
      
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 700;
      padding-bottom: .5rem;

      h4{
        padding: 0px 10px;
      }
      }
    }
  }
}  