.portfolio{
background-color: #fff;
position: absolute;
overflow: hidden;



&__card{
    position: relative;
    width: 90%;
    left: 5%;
    margin: 50px 0px;
    display: grid;
    padding: 60px 30px;  
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15 px;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(#000, .6);
   
    img{
      width: 90%;
      }   
        &--info{
          h3{
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            padding-bottom: 10px;
          }
          h3:after{
            display:block;
            height: 3px;
            background-color: $primary-color;
            content: ' ';
            width: 200px;
            margin: 0 auto;
            margin-top: 10px;
          }
          p{
            text-indent: 25px;
            font-size: 20px;
    
          }
      .web-tech{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
        h4{
        padding: 0px 10px;
      }
      }
      .btns{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card-btn{  
        text-decoration: none;
        background-color: #000;
        color:$primary-color;
        padding: 10px 15px;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        }
        .card-btn a, a:visited{
          text-decoration: none;
          background-color: #000;
          color: $primary-color;
        }
        .web-tech-github{
          color: #000;
          font-size: 55px;
          margin: 10px;  
        }

    }
  }
  .portfolio__card:nth-child(odd) img{
    order: 2;
  }
}        