  @media only screen and (max-width:995px){
    .about-social-icons-list{
      a{
        font-size: 40px;
    }
}
.portfolio{
    
  &__card{
      &__info{
      h3{
        font-size: 30px;
      }
      p{
        font-size: 15px
      }
    }
    .web-tech{
      font-size: 12px;
    }
  }
}
.contact{
  margin-top: 2200px;
}
  }

  @media only screen and (max-width:890px){
    
    .main-nav{

      &__nav-item{
        display: none;
      }
      &__menu{
        display: initial;
      }
    }


    .splash{
    &-heading-primary{
      font-size: 40px;
    }
    &-heading-secondary{
      font-size: 25px;
    } 
  }
    .about{
     height: 90vh;
     padding-left: 25px;
    }
    .intro{
      display: block;
      
      &__img{
       display: none;
        }
      &__text{
        font-size: 20px;  
      }  
    }
    .about-social-icons-list{
      
      a{
        font-size: 50px;
      }
    }

    .portfolio{
      &__card{
        display: block;
      
      &--info{
        h3{
          padding-top: 20px;
         
        }  
      }
    }
    }
    .contact{
      margin-top: 2700px;
      
      
    }
    .btn-contact{
      padding: 5px 10px;
      margin: 25px;
      size: 15px;
    }
    .btn-contact i{
      padding: 1rem;
    }

  }
  @media only screen and (max-width:730px){
  
    .splash{
      &__heading{
        left: 50%;

        &-heading-primary{
          font-size: 30px;
        }
        &-heading-secondary{
          font-size: 18px;
        } 
      }
  }
    .about{
      padding-left: 25px;
    }
    .portfolio{
      padding-left: 25px;
    }
    .contact{
      height: 70vh;
    }
 
  }
  @media only screen and (max-width:500px){
    .about-social-icons-list{
      
      a{
        font-size: 25px;
      }
    }
      
    .about{
      background-color: #fff;
    }
    
    
    .splash{
      background-image: linear-gradient(to right bottom, rgba(109, 170, 255,.7), rgba(49, 97, 163, .9));
      height: 65vh;
      
      &-heading{
        &-heading-primary{
          font-size: 30px;
          
        }
        &-heading-secondary{
          font-size: 18px;  
        } 
      }
      
    }
    .contact{
      margin-top: 2775px;
      height: 60vh;
    }
    
    }