.section-headings{
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: $primary-color;
  font-weight: 700;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 50px;

}  
.section-headings:after{
  display:block;
  height: 3px;
  background-color: $secondary-color;
  content: ' ';
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}